/*
Theme Name: Canvas
Theme URI: https://github.com/starverte/canvas
Author: Star Verte LLC
Description: Child theme of Flint. Used to display Star Verte LLC company websites.
Version: 0.1.0
License: GPLv3
License URI: LICENSE.md
Tags:
Template: flint
Template Version: 1.5.0

    Copyright 2014  Star Verte LLC  (email : dev@starverte.com)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url(../flint/style.css);

/* =Global
----------------------------------------------- */
body {
  padding-top: 0;
}

/* Alignment */


/* =Header
----------------------------------------------- */
.site-branding .tagline {
  font-size: 32px;
}
.description {
  font-size: 16px;
}
@media (min-width: 768px) {
  .site-branding .tagline {
    font-size: 48px;
  }
  .description {
    font-size: 24px;
  }
}
.stripe {
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.stripe p {
  margin-bottom: 0;
  font-size: 32px;
  line-height: 2em;
  color: #555;
}
.home .stripe p,
.blog .stripe p {
  font-size: 24px;
  text-align: center;
}

/* =Content
----------------------------------------------- */
#learn-more:focus,
#plans:focus {
  outline: none;
}
.page .entry-title,
.entry-header .btn-edit {
  display: none;
}
.page .entry-content {
  margin: 0;
}


/* =Media
----------------------------------------------- */



/* =Navigation
----------------------------------------------- */
.navbar {
  min-height: 70px;
  margin-bottom: 0;
}
.navbar-canvas {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-canvas .navbar-brand {
  height: 70px;
  color: #777;
}
.navbar-canvas .navbar-brand:hover,
.navbar-canvas .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-canvas .navbar-text {
  color: #777;
}
.navbar-canvas .navbar-nav > li > a {
  color: #777;
}
.navbar-canvas .navbar-nav > li > a:hover,
.navbar-canvas .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-canvas .navbar-nav > .active > a,
.navbar-canvas .navbar-nav > .active > a:hover,
.navbar-canvas .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-canvas .navbar-nav > .disabled > a,
.navbar-canvas .navbar-nav > .disabled > a:hover,
.navbar-canvas .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-canvas .navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
  border-color: #ddd;
}
.navbar-canvas .navbar-toggle:hover,
.navbar-canvas .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-canvas .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-canvas .navbar-collapse,
.navbar-canvas .navbar-form {
  border-color: #e7e7e7;
}
.navbar-canvas .navbar-nav > .open > a,
.navbar-canvas .navbar-nav > .open > a:hover,
.navbar-canvas .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-canvas .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-canvas .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-canvas .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-canvas .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-canvas .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-canvas .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-canvas .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-canvas .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-canvas .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-canvas .navbar-link {
  color: #777;
}
.navbar-canvas .navbar-link:hover {
  color: #333;
}
.navbar-canvas .btn-link {
  color: #777;
}
.navbar-canvas .btn-link:hover,
.navbar-canvas .btn-link:focus {
  color: #333;
}
.navbar-canvas .btn-link[disabled]:hover,
fieldset[disabled] .navbar-canvas .btn-link:hover,
.navbar-canvas .btn-link[disabled]:focus,
fieldset[disabled] .navbar-canvas .btn-link:focus {
  color: #ccc;
}
.navbar-canvas img {
  width: auto;
  max-height: 45px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px ) {
  .navbar {
    min-height: 90px;
  }
  .navbar-canvas .navbar-brand {
    height: 90px;
  }
  .navbar-canvas .navbar-nav,
  .navbar-canvas .navbar-right {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-canvas img {
    max-height: 65px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
  .navbar {
    min-height: 100px;
  }
  .navbar-canvas .navbar-brand {
    height: 100px;
  }
  .navbar-canvas .navbar-nav,
  .navbar-canvas .navbar-right {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .navbar-canvas img {
    max-height: 75px;
  }
}

/* =Comments
----------------------------------------------- */


/* =Widgets
----------------------------------------------- */


/* =Footer
----------------------------------------------- */
.site-footer {
  min-height: 100px;
  color: #777;
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}
#footer-left {
  padding-top: 25px;
  padding-bottom: 25px;
}
#credits {
  font-size: 14px;
  text-align: center;
}
.icon-star,
.icon-cs,
.icon-match {
  width: 30px;
  height: auto;
}


/* =Buttons
----------------------------------------------- */

/* Canvas */
.btn-canvas {
  color: #222!important;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.btn-canvas:hover,
.btn-canvas:focus,
.btn-canvas:active,
.btn-canvas.active,
.open > .dropdown-toggle.btn-canvas {
  border-color: #aaa;
}
.btn-canvas:active,
.btn-canvas.active,
.open > .dropdown-toggle.btn-canvas {
  background-image: none;
}
.btn-canvas .badge {
  color: #f8f8f8;
  background-color: #222;
}

/* Fort Collins Creative */
.btn-fcc {
  color: #ffffff;
  background-color: #0064a0;
  border-color: #005487;
}
.btn-fcc:focus,
.btn-fcc.focus {
  color: #ffffff;
  background-color: #00446d;
  border-color: #000407;
}
.btn-fcc:hover {
  color: #ffffff;
  background-color: #00446d;
  border-color: #002e49;
}
.btn-fcc:active,
.btn-fcc.active,
.open > .dropdown-toggle.btn-fcc {
  color: #ffffff;
  background-color: #00446d;
  border-color: #002e49;
}
.btn-fcc:active:hover,
.btn-fcc.active:hover,
.open > .dropdown-toggle.btn-fcc:hover,
.btn-fcc:active:focus,
.btn-fcc.active:focus,
.open > .dropdown-toggle.btn-fcc:focus,
.btn-fcc:active.focus,
.btn-fcc.active.focus,
.open > .dropdown-toggle.btn-fcc.focus {
  color: #ffffff;
  background-color: #002e49;
  border-color: #000407;
}
.btn-fcc:active,
.btn-fcc.active,
.open > .dropdown-toggle.btn-fcc {
  background-image: none;
}
.btn-fcc.disabled,
.btn-fcc[disabled],
fieldset[disabled] .btn-fcc,
.btn-fcc.disabled:hover,
.btn-fcc[disabled]:hover,
fieldset[disabled] .btn-fcc:hover,
.btn-fcc.disabled:focus,
.btn-fcc[disabled]:focus,
fieldset[disabled] .btn-fcc:focus,
.btn-fcc.disabled.focus,
.btn-fcc[disabled].focus,
fieldset[disabled] .btn-fcc.focus,
.btn-fcc.disabled:active,
.btn-fcc[disabled]:active,
fieldset[disabled] .btn-fcc:active,
.btn-fcc.disabled.active,
.btn-fcc[disabled].active,
fieldset[disabled] .btn-fcc.active {
  background-color: #0064a0;
  border-color: #005487;
}
.btn-fcc .badge {
  color: #0064a0;
  background-color: #ffffff;
}

/* Label button */
.btn-lbl {
  text-align: center;
}
@media (min-width: 768px) {
  .btn-lbl {
    font-size: 18px;
    text-align: center;
  }
}

/* Matchstix */
.btn-msx {
  color: #ffffff;
  background-color: #a4343a;
  border-color: #912e33;
}
.btn-msx:focus,
.btn-msx.focus {
  color: #ffffff;
  background-color: #7d282c;
  border-color: #300f11;
}
.btn-msx:hover {
  color: #ffffff;
  background-color: #7d282c;
  border-color: #621f23;
}
.btn-msx:active,
.btn-msx.active,
.open > .dropdown-toggle.btn-msx {
  color: #ffffff;
  background-color: #7d282c;
  border-color: #621f23;
}
.btn-msx:active:hover,
.btn-msx.active:hover,
.open > .dropdown-toggle.btn-msx:hover,
.btn-msx:active:focus,
.btn-msx.active:focus,
.open > .dropdown-toggle.btn-msx:focus,
.btn-msx:active.focus,
.btn-msx.active.focus,
.open > .dropdown-toggle.btn-msx.focus {
  color: #ffffff;
  background-color: #621f23;
  border-color: #300f11;
}
.btn-msx:active,
.btn-msx.active,
.open > .dropdown-toggle.btn-msx {
  background-image: none;
}
.btn-msx.disabled,
.btn-msx[disabled],
fieldset[disabled] .btn-msx,
.btn-msx.disabled:hover,
.btn-msx[disabled]:hover,
fieldset[disabled] .btn-msx:hover,
.btn-msx.disabled:focus,
.btn-msx[disabled]:focus,
fieldset[disabled] .btn-msx:focus,
.btn-msx.disabled.focus,
.btn-msx[disabled].focus,
fieldset[disabled] .btn-msx.focus,
.btn-msx.disabled:active,
.btn-msx[disabled]:active,
fieldset[disabled] .btn-msx:active,
.btn-msx.disabled.active,
.btn-msx[disabled].active,
fieldset[disabled] .btn-msx.active {
  background-color: #a4343a;
  border-color: #912e33;
}
.btn-msx .badge {
  color: #a4343a;
  background-color: #ffffff;
}

/* Star Verte */
.btn-sv {
  color: #fff;
  background-color: #5fc300;
  border-color: #53aa00;
}
.btn-sv:hover,
.btn-sv:focus,
.btn-sv:active,
.btn-sv.active,
.open > .dropdown-toggle.btn-sv {
  color: #fff;
  background-color: #469000;
  border-color: #356c00;
}
.btn-sv:active,
.btn-sv.active,
.open > .dropdown-toggle.btn-sv {
  background-image: none;
}
.btn-sv.disabled,
.btn-sv[disabled],
fieldset[disabled] .btn-sv,
.btn-sv.disabled:hover,
.btn-sv[disabled]:hover,
fieldset[disabled] .btn-sv:hover,
.btn-sv.disabled:focus,
.btn-sv[disabled]:focus,
fieldset[disabled] .btn-sv:focus,
.btn-sv.disabled:active,
.btn-sv[disabled]:active,
fieldset[disabled] .btn-sv:active,
.btn-sv.disabled.active,
.btn-sv[disabled].active,
fieldset[disabled] .btn-sv.active {
  background-color: #5fc300;
  border-color: #53aa00;
}
.btn-sv .badge {
  color: #5fc300;
  background-color: #fff;
}


/* =Panels
----------------------------------------------- */

/* Fort Collins Creative */
.panel-fcc {
  border-color: #0064a0;
}
.panel-fcc > .panel-heading {
  color: #ffffff;
  background-color: #0064a0;
  border-color: #0064a0;
}
.panel-fcc > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #0064a0;
}
.panel-fcc > .panel-heading .badge {
  color: #0064a0;
  background-color: #ffffff;
}
.panel-fcc > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #0064a0;
}

/* Matchstix */
.panel-msx {
  border-color: #a4343a;
}
.panel-msx > .panel-heading {
  color: #ffffff;
  background-color: #a4343a;
  border-color: #a4343a;
}
.panel-msx > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a4343a;
}
.panel-msx > .panel-heading .badge {
  color: #a4343a;
  background-color: #ffffff;
}
.panel-msx > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a4343a;
}
